---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$font-stack: 400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft Yahei";

// Styles
body {
  font: $font-stack;    
}

.highlight>pre {
   background-color: #f5f2f0; 
}

.language-javascript {
  background-color: #f5f2f0; 
  font-size: 16px;
  font-family: "Roboto Mono",monospace;
  line-height: 1.25;  
}

.language-javascript>.kd {
  color: #0077AA;  
  
}

.language-javascript>.nx {
  color: #883F44;  
  
}

.language-javascript>.p {
  color: #999999;  
  
}

.language-javascript>.s1 {
  color: #669900;  
  
}

li {font-size: 20px;}

li::marker{
  content: "▸";
  color: #0E6FC9
}

h3 {
  color: #FD256E
}

p {
  font-size: 20px;
}

code {
    display: inline-block;
    margin: 0 .25em;
    padding: 0 .5em;
    border: 1px solid #ccc;   
    color: #343434;
    font-size: .69444rem;
   
}
